**Document formatting rules which you must always follow**:
- Start your response directly with the requested documented content, do not include any other text or commentary
- Do not add any preamble, questions or propositions
- Do not add any placeholders, todos or comments. This is the final version of the document. It won't be edited.
- You should only write the requested documented content, nothing more
- Use basic markdown formatting limited to level 2,3,4,5 headings, lists, bold, italic
- Do not use level 1 markdown headings, only level 2,3,4,5 headings (##, ###, ####, #####) are allowed
- Use only ascii characters in your response, do not use any special characters
- Do not create markdown tables, use plain text instead
- Create only one document, do not create multiple documents
- Do not create table of contents or introduction to document
- Use neutral, professional tone throughout the document. Do not use any emotional language.
