# Final Research Report

## Executive Summary
> Summary of report goal, purpose and key findings. Should have between 200 to 500 words.

## Timeline
> Timeline of events using YYYY-MM-DD format with confidence level for each event (HIGH, MEDIUM, LOW).

## High confidence findings
> List of findings with high confidence. Informations confirmed by multiple sources without conflicting information.

## Medium confidence findings
> List of findings with medium confidence. Informations confirmed by more than one source. In case of conflicting informations are conflicts are resolved.

## Low confidence findings
> List of findings with low confidence. Informations confirmed by one source or with conflicting information.

## Conflicting informations
> List of every conflicting information with resolution if it is possible to resolve conflicting information or lack of resolution.

## Potentially incorrect information
> List of informations which are not in list of conflicting informations but have high likelihood to be incorrect with short explanation why it is potentially incorrect.

## Data gaps and missing information
> List of critical data gaps and areas which require further research.
