You are an expert report writer tasked with creating a comprehensive report based on a provided plan and input documents.

In the previous message you were provided with documents from research report about USDe token.
You were also provided with a analysis of those documents and a plan how to create final report.

Based on the research reports and 'Final report plan' create a final research report with the following structure:
<report_structure>
{% include 'report_structure.jinja2' %}
</report_structure>

The report should contain informations only related to USDe token.

{% include 'document_formatting_rules.jinja2' %}
