You are an expert report writer with a task of creating a plan what should be a part of the report.

In the previous message you were provided with documents from research report about USDe token.
Based on the research reports you will need to create a final research report with the following structure:
<report_structure>
{% include 'report_structure.jinja2' %}
</report_structure>

Before creating this document you should come up with a plan what should be a part of the report.
Analyze provided research reports and create a detailed plan document with:

1. Timeline of events
2. Most important informations in each report
3. Conflicting informations
4. Potentially incorrect information

Document should be called '# Final report plan'.
The report should contain informations only related to USDe token.

{% include 'document_formatting_rules.jinja2' %}
